*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(255, 255, 227);
  font-family: 'Roboto', sans-serif;
}

body,
.container{
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 4rem repeat(5, 5fr);
}

.container > ul {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-auto-rows: 1fr;
}

.container > ul,
.container > ul > li {
  display: grid;
  position: relative;
  list-style: none;
  font-size: 1rem;
  font-weight: 350;
  text-align: center;
  place-content: center;
}

.container > ul > li {
  border: 1px solid #3333;
  min-height: fit-content;
}

.szam {
  background: rgba(92, 184, 238, .9);
  letter-spacing: 2px;
  font-weight: 400;
}

.napok{
  background: rgba(92, 184, 238, .9);
  line-height: 3;
  letter-spacing: .5rem;
  font-weight: 400;
}

.orak{
  background: rgba(92, 184, 238, .5);
}

.orak-p{
  background: rgba(92, 184, 238, .4);
} 

@media screen and (max-width: 768px) {
  .szamok{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 5rem !important;
  }

  .szam{
    border: none !important;
  }

  .napok{
    border-left: none !important;
  }

  .container {
    grid-template-columns:repeat(1, 1fr);
    overflow: scroll;
    width: calc(100vw - 5rem) !important;
    margin-left: 5rem;
  }
}